<section>
    <div class="container">
      <div class="board">
        <!-- Navigation Area (Circular Tabs) -->
        <h1 class="text-center">Checking Out Products</h1>

        <div class="board-inner" id="status-buttons">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
        
            <!-- circular user icon -->
            <li id="productsTab" style="margin: auto;">
              <a
                [routerLink]="['/checkouts', { outlets: { checkOutlet: ['/'] } }]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                data-toggle="tab"
                title="Product Summary"
              >
                <span class="round-tabs one">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </span>
              </a>
            </li>
        
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- End Navigation Area (Circular Tabs) -->
  
        <!-- Content Area -->
        <div class="tab-content">
            <div class="container">
                <ul class="list-group mb-3">
                  <li
                    class="list-group-item d-flex justify-content-between lh-condensed"
                    *ngFor="let product of products"
                    
                  >
                  <!-- *ngFor="let product of checkoutProducts" -->
                    <div class="col-5">
                      <img
                        [src]="product.imageUrl"
                        width="150"
                        height="100"
                      />
                    </div>
                    <div class="col-6" style="padding: 10px;">
                      <h4 class="my-0">{{product.title}}</h4>
                      <p>{{product.description}}</p>
                    </div>
                    <div class="col-1">
                      <span class="text-muted">${{product.price}}</span>
                    </div>
                  
                  </li>
                  <hr />
                  <li class="list-group-item d-flex justify-content-between">
                    <div class="col-11">
                      <span> <strong>Total (Dollar)</strong></span>
                    </div>
                    <div class="col-1">
                      <strong>$ {{totalPrice}}</strong>
                    </div>
                    
                  </li>
                </ul>
                
                <div class="float-left">
                  
                  <a
                    class="btn btn-info"
                    [routerLink]="['/shipping-details']"
                    routerLinkActive="active"
                    role="button"
                    >Next</a>
                </div>
              </div>
              
        </div>
        <!-- End Content Area -->
      </div>
  
      <!-- <button class="btn btn-success"> Tests</button> -->
      <!-- For Debugging: show our formData as it is being typed -->
      <!-- <pre>{{ formData | json }}</pre> -->
    </div>
    <!-- <button class="btn btn-success"> Tests</button> -->
  </section>