<!-- <app-header></app-header> -->
<p>cart-items works!</p>
<div class="container">
<div class="row">

    <div class="col-8 " id="content">
    
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="http://shorturl.at/fhmsZ" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button  class="btn btn-info mt-auto float-left"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger mt-auto float-right"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="http://shorturl.at/fhmsZ" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button  class="btn btn-info mt-auto float-left"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger mt-auto float-right"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="http://shorturl.at/ewFM1" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button  class="btn btn-info mt-auto float-left"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger mt-auto float-right"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
           
            <div class="col-sm-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top img-fluid" src="http://shorturl.at/zJKT9" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    <div class="card-link">
                        <button  class="btn btn-info mt-auto float-left"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger mt-auto float-right"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
          
    
          
        </div>
    
      
    </div>
    <div class="col-4">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-primary badge-pill">5</span>
          </h4>
          <ul class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
             
            >
              <div>
                <h6 class="my-0">Labtop</h6>
              </div>
              <span class="text-muted">$ 8000</span>
            </li>
            <hr />
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Dollar)</span>
              <strong>$ 8000</strong>
            </li>
            <a class="btn btn-primary" [routerLink]="['']"
              >Continue Shipping</a
            >
            <a class="btn btn-default" [routerLink]="['/checkouts']">Checkout</a>
          </ul>

    </div>

</div>
</div>