<p>shipping-details works!</p>
<section>
    <div class="container">
      <div class="board">
        <!-- Navigation Area (Circular Tabs) -->
        <h1 class="text-center">Checking Out Products</h1>

        <div class="board-inner" id="status-buttons">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
        
            <!-- circular user icon -->
            <li id="shippingTab" style="margin: auto;">
                <a
                  [routerLink]="[
                    '/checkouts',
                    { outlets: { checkOutlet: ['shipping-details'] } }
                  ]"
                  routerLinkActive="active"
                  data-toggle="tab"
                  title="Shipping Details"
                >
                  <span class="round-tabs two">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
        
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- End Navigation Area (Circular Tabs) -->
  
        <!-- Content Area -->
        <div class="tab-content">
            
            <div class="container mt-3">
                <div class="col-md order-md-1">
                  <div class="row">
                  <div class="col-6">
                    <h4 class="mb-3" id="title">Shipping Address</h4>
                  </div>
                    <div class="col-6" >
                      <button  class="btn btn-primary float-right" (click)="newAdressForm()">Add New Card</button>
                  </div>
                  </div>
                  
                  <form [formGroup]= "shippingAddressForm" (submit)="confirmShipping()">
 
                    <div class="form-group">
                      <label for="street">Address</label>
                      <input [disabled]="!isNewAddress" type="text" formControlName="street" class="form-control" id="street" 
                      [ngClass]="{'is-invalid':submitted && formControls.street.errors}"  placeholder="Enter Address">
                      <small  class="text-danger" *ngIf="submitted && hasError('street', 'required')">
                        Address is required.
                      </small>  
                    </div>


                    <div class="form-group">
                      <label for="city">City</label>
                      <input [disabled]="!isNewAddress" type="text" formControlName="city" class="form-control" id="city" 
                      [ngClass]="{'is-invalid':submitted && formControls.city.errors}"  placeholder="Enter City">
                      <small  class="text-danger" *ngIf="submitted && hasError('city', 'required')">
                        City is required.
                      </small>  
                    </div>

                    <div class="form-group">
                      <label for="zipcode">Zipcode</label>
                      <input [disabled]="!isNewAddress" type="text" formControlName="zipcode" class="form-control" id="zipcode" 
                      [ngClass]="{'is-invalid':submitted && formControls.city.errors}"  placeholder="Enter Zipcode">
                      <small  class="text-danger" *ngIf="submitted && hasError('zipcode', 'required')">
                        Zipcode is required.
                      </small>  
                    </div>

                    <div class="form-group" >
                      <label for="state">State</label>
                      <select [disabled]="!isNewAddress" class="form-control" id="state" formControlName="state"
                      [ngClass]="{'is-invalid': submitted && formControls.state.errors}">
                        <option *ngFor="let s of states"  [value] ="s.name">{{s.name}}</option>
                      </select>
                      <small  class="text-danger" *ngIf="submitted && hasError('state', 'required')">
                        State is required.
                      </small>
                  </div>

                  <div class="form-group">
                    <label for="country">Country</label>
                    <input [disabled]="!isNewAddress" type="text" formControlName="country" class="form-control" id="country" 
                    [ngClass]="{'is-invalid':submitted && formControls.country.errors}"  placeholder="Enter Country">
                    <small  class="text-danger" *ngIf="submitted && hasError('country', 'required')">
                      Country is required.
                    </small>  
                  </div>

                  <p *ngIf="errorMessage" class="err">{{errorMessage}}</p >
                    <button type="submit" class="btn btn-primary">Conirm</button>
              
                  </form>
                </div>
              </div>
              
        </div>
        <!-- End Content Area -->
      </div>
  
      <!-- For Debugging: show our formData as it is being typed -->
      <!-- <pre>{{ formData | json }}</pre> -->
    </div>
  </section>
