<form [formGroup]="categoryForm" (submit)="editCategory()">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" 
        [ngClass]="{'is-invalid':submitted && formControls.name.errors}" placeholder="Enter name">
          <small  class="text-danger" *ngIf="submitted  && hasError('name','required')">
            Name is required.
          </small>  
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" formControlName="description" class="form-control" id="description" 
        [ngClass]="{'is-invalid':submitted && formControls.description.errors}" placeholder="Enter description">
          <small  class="text-danger" *ngIf="submitted  && hasError('description','required')">
            description is required.
          </small>  
      </div>

      <p *ngIf="errorMessage" class="err">{{errorMessage}}</p >
        <button type="submit" class="btn btn-primary">Edit-Done</button>
     
</form>