<section>
    <div class="container">
      <div class="board">
        <!-- Navigation Area (Circular Tabs) -->
        <h1 class="text-center">Checking Out Products</h1>

        <div class="board-inner" id="status-buttons">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
        
            <li id="resultTab" style="margin: auto;">
                <a
                  routerLinkActive="active"
                  data-toggle="tab"
                  title="Payment"
                >
                  <span class="round-tabs four">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
        
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- End Navigation Area (Circular Tabs) -->
  
        <div >
            <button  class="btn btn-primary float-right" (click)="newCardForm()">Add New Card</button>
        </div>
        <!-- Content Area -->
        <div class="tab-content">


            <form [formGroup]= "paymentForm" (submit)="confirmPayment()">
                <div class="form-group">
                  <label for="cardNo">Card Number</label>
                  <input [disabled]="!isNewCard" type="text" formControlName="cardNo" class="form-control" id="cardNo" 
                  [ngClass]="{'is-invalid':submitted && formControls.cardNo.errors}"  placeholder="Enter Card Number">
                  <small  class="text-danger" *ngIf="submitted && hasError('email', 'required')">
                    Card Number is required.
                  </small>  
                </div>
            
                <div class="form-group">
                    <label for="name">CSV</label>
                    <input [disabled]="!isNewCard" type="text" formControlName ="csv" class="form-control" id="csv" 
                    [ngClass]="{'is-invalid':submitted && formControls.CSV.errors}" placeholder="Enter CSV">
                    <small  class="text-danger" *ngIf="submitted && hasError('csv', 'required')">
                        CSV is required.
                    </small> 
                </div>

                <div class="form-group">
                  <label for="expireDate">Expiration Date</label>
                  <input [disabled]="!isNewCard" type="date" formControlName="expireDate" class="form-control" id="expireDate" placeholder="Enter Expiration Date"
                  [ngClass]="{'is-invalid': submitted && formControls.expireDate.errors}">
                  <small  class="text-danger" *ngIf="submitted && hasError('expireDate', 'required')">
                    Expiration Date is required.
                  </small>
                </div>
            
                <div class="form-group">
                    <label for="nameOnCard">Name on Card</label>
                    <input [disabled]="!isNewCard" type="text" formControlName ="nameOnCard" form class="form-control" id="nameOnCard"
                    [ngClass]="{'is-invalid': submitted && formControls.nameOnCard.errors}" placeholder="Enter Name on Card">
                  <small  class="text-danger" *ngIf="submitted && hasError('confirmPass', 'confirmedValidator')">
                    Name on Card is required.
                  </small>
                </div>

                <div class="form-group" >
                    <label for="type">Type</label>
                    <select [disabled]="!isNewCard" class="form-control" id="type" formControlName="type"
                    [ngClass]="{'is-invalid': submitted && formControls.type.errors}">
                      <option value=null>selectRole</option>
                      <option  value ="visa"> visa</option>
                      <option  value ="masterCard"> Master Card</option>
                    </select>
                    <small  class="text-danger" *ngIf="submitted && hasError('role', 'required')">
                      role is required.
                    </small>
                </div>
                <!-- <div class="form-group" >
                    <label for="vendor">Vendor</label>
                    <select class="form-control" id="vendor" formControlName="vendor">
                      <option [ngValue]="null">select Vendor</option>
                      <option *ngFor="let v of vendors" [ngValue] ="v">{{v.name}}</option>
                    </select>
                </div> -->
                <p *ngIf="errorMessage" class="err">{{errorMessage}}</p >
                <button type="submit" class="btn btn-primary">Conirm</button>
              </form>
        
              
              
        </div>
        <!-- End Content Area -->
      </div>
  
      <!-- For Debugging: show our formData as it is being typed -->
      <!-- <pre>{{ formData | json }}</pre> -->
    </div>
  </section>
