<form [formGroup]= "userForm" (submit)="addEmployee()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName ="name" class="form-control is-invalid" id="name" aria-describedby="emailHelp" placeholder="Enter email">
        <small  class="text-danger">
            Must be 8-20 characters long.
          </small> 
    </div>

      <div class="form-group">
        <label for="mobile">mobile</label>
        <input type="text" formControlName="mobile" class="form-control is-invalid" id="name" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="passwordHelp" class="text-danger">
            Must be 8-20 characters long.
          </small>   
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" formControlName="pass" class="form-control" id="pass" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="pass">Confirm Password</label>
        <input type="password" formControlName ="confirmPass" form class="form-control" id="confirmPass" placeholder="Confirm Password">
      </div>
    <div class="form-group" >
        <label for="role">Role</label>
        <select class="form-control" id="role" formControlName="role">
          <option [ngValue]=null>selectRole</option>
          <option *ngFor="let role of roles" [ngValue] ="role">{{role.role}}</option>
        </select>
    </div>
    <div class="form-group" >
        <label for="vendor">Vendor</label>
        <select class="form-control" id="vendor" formControlName="vendor">
          <option [ngValue]="null">select Vendor</option>
          <option *ngFor="let v of vendors" [ngValue] ="v">{{v.name}}</option>
        </select>
    </div>
    <p *ngIf="errorMessage" class="err">{{errorMessage}}</p >
    <button type="submit" class="btn btn-primary">Add</button>
  </form>