<div class="container-md page product">
    <div class="row breadcrumb-wrapper">
        <div class="col">
            <nav aria-label="breadcrumb" *ngIf="product">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">{{product.category.partentCaregory?.name}}</li>
                    <li class="breadcrumb-item active">{{product.category.name}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row" *ngIf="product">
        <div class="col-sm">
            <img src="{{product.imageUrl}}" class="img-fluid">
        </div>
        <div class="col-sm">
            <h2 class="title">
                {{product.title}}
            </h2>
            <h2 class="price text-info">
                ${{product.price}} USD
            </h2>
            <div>
                <button type="button" class="btn btn-primary ">Add to Cart</button>
            </div>
            <hr>
            <h3 class="text-secondary">Product Specifications</h3>
            <p>
                {{product.attributes}}
            </p>
            <hr>
            <h3 class="text-secondary">Product Description</h3>
            <p>
                {{product.description}}
            </p>
        </div>
    </div>
</div>