<!-- <div class="container-fluid">
    <div class="row"> -->
        <div class="user-panel">
            <img src="assets/images/logo.png" width="115" /><br/>
            <span class="logo">GoShop</span>
          </div>

        <div class="collapse show d-md-flex bg-dark pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
               
                <li class="item list-group-item list-group-item-action "><!-- list-group-item-success-->
                    <!-- <div class="nav-link"><i class="fa fa-dashboard"></i> <span class="d-none d-sm-inline">Dashboard</span></div> -->
                    <a class="nav-link" routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="item list-group-item list-group-item-action">
                    <a class="nav-link text-truncate" routerLink="/vendor/employees"><i class="fa fa-users"></i> Employees</a>
                </li>
                
                <li class="item list-group-item list-group-item-action">
                    <a class="nav-link text-truncate" routerLink="/vendor/products"><i class="fa fa-product-hunt"></i> Products</a></li>
            
                    <li class="item list-group-item list-group-item-action">
                        <a class="nav-link text-truncate" routerLink="/pormotion"><i class="fa fa-product-hunt"></i> Pormotion</a>
                    </li>
                    
                <!-- <li class="item list-group-item list-group-item-action">
                    <a class="nav-link text-truncate" routerLink="/category"><i class="fa fa-product-hunt"></i> Category</a>
                </li> -->
                    <!-- <li class=" item list-group-item list-group-item-action">
                        <a class="nav-link text-truncate"  id="super-link"><i class="fa fa-product-hunt"></i> Products</a>
                        <ul class=" flex-column flex-nowrap overflow-hidden">
                            <li class="sub-li item list-group-item list-group-item-action">
                                <a routerLink="/vendor/products?type=published">published</a>
                            </li>
                            <li class=" sub-li item list-group-item list-group-item-action">
                                <a routerLink="/vendor/products?type=published">Not published</a>
                            </li>
                            <li class="sub-li item list-group-item list-group-item-action">
                                <a routerLink="/vendor/addProduct">Add product</a>
                            </li>
                        </ul>
                    </li> -->

                </ul>
        </div>
        <!-- <div class="col pt-2">
            <h2>
                <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a> Content </h2>
            <h6 class="hidden-sm-down">Shrink page width to see sidebar collapse</h6>
            <p>Codeply editor wolf moon retro jean shorts chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
        </div> -->
    <!-- </div>
</div> -->