<div class="row">
<div class="col-2 ">
  <app-pormotion-sidenav></app-pormotion-sidenav>
  <!-- <app-sidenav></app-sidenav> -->
</div>

    <div class="col-10">
      <div class="container">
        <div class=" row content "  id="filter"><!-- justify-content-center  align-items-center-->
          <div *ngIf="isAdmin" class="float-left">
              <select class="browser-default custom-select" (change)="fetchPormotionssBy($event)">
                  <option value="allPormotions" selected>All Products</option>
                  <option value="deleted">Activated</option>
                  <option value="nonDeleted">Not Activated</option>
                </select>
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-info" (click)= "openAddPormotionModal()">Add Pormotion</button> </div>
          </div>
          
      
        <div class="row">
            <!-- <button type="button" class="btn btn-info" (click)= "openAddPormotionModal()">Add Pormotion</button> </div> -->

            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                <h4 class="alert-heading">OOPS!</h4>
                <p>Somthing went wrong.</p>
                <hr>
                <p class="mb-0">{{errorMessage}}</p>
              </div>

              <div *ngIf="pormotions?.length ==0" class="alert alert-success" role="alert">
                <h4 class="alert-heading">OOPS!</h4>
                <p>There is no pormotion.</p>
              </div>
              <table *ngIf="!errorMessage && pormotions?.length >0" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Title</th>
                    <th>start Date</th>
                    <th>end Date</th>
                    <th>discount</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pormotion of pormotions; let i = index">
                    <td>{{pormotion.title}}</td>
                    <td>{{pormotion.startDate|date}}</td>
                    <td>{{pormotion.endDate|date}}</td>
                    <td>{{pormotion.discount}}</td>
                    <!-- <td>{{pormotion.role?.role}}</td> -->
                    <td><button type="button" class="btn btn-outline-info" (click)= "openEditPormotionModal(i, pormotion)">Edit</button></td>
                    <td *ngIf="isAdmin">
                      <button type="button" class="btn btn-outline-success" *ngIf="pormotion.deleted" (click)="confirmBox(i, pormotion.id,'Activate')">Activate</button>
                      <button type="button" class="btn btn-outline-danger" *ngIf="!pormotion.deleted" (click)="confirmBox(i, pormotion.id, 'DeActivate')">DeActivate</button>
                    
                    </td>

                    <td *ngIf="!isAdmin">
                      <button type="button" class="btn btn-outline-danger"  (click)="confirmBox(i, pormotion.id, 'DeActivate')">Delete</button>
                    
                    </td>
                    </tr>
                </tbody>
            </table>
    </div>
    </div>
  </div>
</div>