.container.home {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.content {
    padding-top: 30px;
}

.img-fluid {
    max-height: 170px;
    min-height: 170px;
    /* object-fit: cover; */
}

.card {
    min-height: auto;
}

.card-body {
    padding: 1.25rem 0;
}

.card-body h4 {
    font-size: 17px;
    color: #0091f6;
}

.card-body .price {
    margin: 0;
}

.card-body .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-form {
    border: solid 1px #eee;
    background-color: #eee;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-title {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
    font-size: 22px;
    color: #428bca;
    padding-right: 20px;
}

.searchResultStatement {
    text-align: center;
    margin: 40px;
    font-weight: 400;
    color: #797979;
}