<div class="container page home">
    <div class="bs-callout bs-callout-primary">
        <h4>Our Latest Products</h4>
    </div>
    <div class="search-form-wrapper">
        <form [formGroup]="searchForm" class="form-inline search-form" (submit)="doSearch()">
            <span class="form-title">Search</span>
            <input type="text" formControlName="keyword" class="form-control mr-sm-2" id="keyword"
                placeholder="Product Name">
            <input type="number" formControlName="minprice" class="form-control mr-sm-2" id="minprice"
                placeholder="Min Price">
            <input type="number" formControlName="maxprice" class="form-control mr-sm-2" id="maxprice"
                placeholder="Max Price">


            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        </form>
    </div>

    <h2 class="searchResultStatement" *ngIf="!products?.length">No Result found</h2>

    <div class="row">
        <div class="col-sm-3" *ngFor="let product of products; let i=index">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top img-fluid" [src]="product.imageUrl" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">{{product.title}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <h2 class="price">${{product.price}}</h2>
                </div>
                <div class="card-link">
                    <button class="btn btn-warning mt-auto float-right" (click)="addToCart(product)"><i
                            class="fa fa-shopping-cart"></i> </button>
                    <button [routerLink]="['product',product.id]" class="btn btn-info mt-auto float-left"><i
                            class="fa fa-eye"></i> View</button>
                </div>
            </div>
        </div>
    </div>
</div>