<form [formGroup]="pormotionForm" (submit)="editPormotion()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" formControlName="title" class="form-control" id="title" 
    [ngClass]="{'is-invalid':submitted && formControls.title.errors}" placeholder="Enter title">
      <small  class="text-danger" *ngIf="submitted  && hasError('title','required')">
        Title is required.
      </small>  
  </div>


    <div class="form-group">
        <label for="startDate">start Date</label>
        <input type="date" formControlName="startDate" class="form-control" id="startDate" 
        [ngClass]="{'is-invalid':submitted && formControls.startDate.errors}" placeholder="Enter start Date">
          <small  class="text-danger" *ngIf="submitted  && hasError('startDate','required')">
            Start date is required.
          </small>  
      </div>
    
      <div class="form-group">
        <label for="endDate">end Date</label>
        <input type="date" formControlName="endDate" class="form-control" id="endDate" 
        [ngClass]="{'is-invalid':submitted && formControls.endDate.errors}" placeholder="Enter end Date">
          <small  class="text-danger" *ngIf="submitted  && hasError('endDate','required')">
            End date is required.
          </small>  
      </div>
          
      <div class="form-group">
        <label for="discount1">discount</label>
        <input type="number" formControlName="discount" class="form-control" id="discount1" 
        [ngClass]="{'is-invalid':submitted && formControls.discount.errors}" placeholder="Enter discount %">
          <small  class="text-danger" *ngIf="submitted  && hasError('discount','required')">
            discount is required.
          </small>  
      </div>

      <div *ngIf="isAdmin" class="form-group" >
        <label for="vendor">Vendor</label>
        <select class="form-control" id="vendor"formControlName="vendorId">
          <option [ngValue]="0">select Vendor</option>
          <option *ngFor="let v of vendors" [ngValue] ="v.id">{{v.email}}</option>
        </select>
    </div>
        <p *ngIf="errorMessage" class="err">{{errorMessage}}</p >
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
    